<%- include('partials/_head', {css: css}) %>

<main>

    <h1 class="text-center mt-5">LOGIN</h1>

    <%- include('partials/_auth-form', {title: 'login'}) %>

</main>

<%- include('partials/_foot') %>