<%- include('partials/_head') %>

<main>

    <h1 class="text-center mt-5">Recupero password</h1>

    <%- include('partials/_auth-form', {title: 'password-reset'}) %>

</main>

<%- include('partials/_foot') %>